@using Thinktecture.IdentityServer.Web.App_LocalResources.Account
@model Thinktecture.IdentityServer.Web.ViewModels.ChangePasswordModel

@{
    ViewBag.Title = ChangePassword_cshtml.Title;
}

@if (User.Identity.IsAuthenticated)
{
    <div class="p-h-md m-v-sm">
      <div class="alert alert-warning">@string.Format(ChangePassword_cshtml.UserName, User.Identity.Name)</div>
   </div>  
}

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    <div id="login-section" class="center-block p-v-md">
    <div id="login-panel" class="p-lg panel md-whiteframe-z4 text-color m">
         <div class="navbar">
          <div id="login-logo" class="m-b-md text-center">
           <img src="~/Content/images/login-logo.png"/>
           @* <span class="m-l inline">STS</span>*@
         </div>
    </div>
      <div id="login-text" class="m-b text-md font-bold text-center">
       CHANGE PASSWORD
      </div>
         @if (!String.IsNullOrEmpty(@ViewBag.ReasonToForceChangePassword))
        {
        <div class="m-v-sm">
            <div class="alert alert-warning"><strong>Reason to force change password :</strong> @ViewBag.ReasonToForceChangePassword</div>
        </div>
        }
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
             <div class="form-group">
                @Html.LabelFor(m => m.ConfirmNewPassword)
                @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
           </div>
        <input type="submit" value="@ChangePassword_cshtml.Update" class="btn btn-lg btn-dark btn-block p-h-md waves-effect" />     
    </div>
  </div>
    <div class="p-h-md">
          @Html.ValidationSummary(false, ChangePassword_cshtml.ChangePwdUnsuccessful)
    </div>
    
    
  
}
<link href="~/Content/login-theme.css" rel="stylesheet" />
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#Password").focus();
        });
    </script>
}