@model OpenIdConnectClientViewModel
@using Thinktecture.IdentityServer.Web.Utility
@{
    if (Model.IsNew)
    {
        ViewBag.Title = "New";
    }
    else
    {
        ViewBag.Title = "Edit " + Model.Client.Name;
    }
}
@{
    var action = Model.IsNew ? "Create" : "Update";
}
@using (Html.BeginForm(action, "OpenIdConnectClient"))
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-heading">
            <h1>@ViewBag.Title</h1>
        </div>
           <div class="card-body clearfix">
               <div class="form-horizontal">
                    @if (Model.IsNew)
                    {
                                <div class="form-group form-group-sm">
                                    @Html.LabelFor(x => x.Client.ClientId, new { @class = "Col-lg-2 col-md-3 control-label"})
                                    <div class="Col-lg-8 col-md-8">
                                    @Html.EditorFor(x => x.Client.ClientId)
                                    </div>
                                </div>
                                    }
                                    else
                                    {
                                    <div class="form-group form-group-sm">
                                        @Html.LabelFor(x => x.Client.ClientId, new { @class = "Col-lg-2 col-md-3 control-label"})
                                        <div class="Col-lg-8 col-md-8">
                                        @Html.DisplayFor(x => x.Client.ClientId)
                                        </div>
                                        @Html.HiddenFor(x => x.Client.ClientId)
                                    </div>
                                    }

                                    @Html.EditorFor(x => x.Client)
                                    <div class="form-group form-group-sm">
                                        @Html.LabelFor(x => x.RedirectUris, new { @class = "Col-lg-2 col-md-3 control-label"})
                                        <div class="Col-lg-8 col-md-8">
                                        @Html.EditorFor(x => x.RedirectUris)
                                        </div>
                                        @Html.ValidatorFor(x => x.RedirectUris)
                                    </div>
                       </div>
                        <div class="p-v-sm text-right">
                             <button type="reset" class="btn btn-sm btn-dark">Cancel</button>
                            @if (!Model.IsNew)
                            {
                                <button type="submit" name="action" value="save" class="btn btn-sm btn-primary">Save Changes</button>
                            }
                            else
                            {
                                <button type="submit" name="action" value="create" class="btn btn-sm btn-primary">Create</button>
                            }
                           
                        </div>
                        <div class="p-v-sm">
                         @if (Model.IsOAuthRefreshTokenEnabled)
                            {
                              @Html.ActionLink("tokens", "Index", "OAuthRefreshToken", new { ClientID = Model.Client.ClientId }, new { @class = "btn btn-sm btn-primary"})
                              
                            }
                       </div>
           </div>
    </div>
   
    @Html.ValidationSummary("Error updating client")
   
}
