@using Thinktecture.IdentityServer.Web.Areas.Admin.App_LocalResources.General
@model Thinktecture.IdentityServer.Models.Configuration.GlobalConfiguration

@{
    ViewBag.Title = Index_cshtml.GeneralConfiguration;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        <div class="card">
           <div class="card-heading">
            <h1>@ViewBag.Title</h1>
          </div>
          <div class="card-body clearfix">
               <div class="form-horizontal">
                 @Html.EditorForModel()
               </div>
          </div>
          <div class="card-footer">
              <button type="reset" class="btn btn-sm btn-dark">@Index_cshtml.Cancel</button>
              <button type="submit" class="btn btn-sm btn-primary">@Index_cshtml.SaveChanges</button>
          </div>
     </div>
     @Html.ValidationSummary(Index_cshtml.ErrorUpdatingConfiguration)
}